google-cloud-firestore
#-e git+git@github.com:therefromhere/sure_petcare.git@2d89478441b71b41fda3f088fac83806040e366b#egg=sure_petcare
-e git+https://github.com/therefromhere/sure_petcare.git@2d89478441b71b41fda3f088fac83806040e366b#egg=sure_petcare
astral
pytz
